  img[alt]
    {
        border-width:4px;
        border-color:rgb(255, 125, 4);
        border-style:solid
    }
    #align
    {
        text-align:center;
        background-color: aqua;
        border: 2px solid black;
        padding: 10px;
    }